* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    background: #2B2B2B;
    color: #FFFFFF;
}

.btn {
    background: #A259FF;
    border-radius: 20px;
    padding: 20px 50px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: #FFFFFF;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
}

.btn-secondary {
    border: 2px solid rgb(162, 89, 255);
    border-radius: 20px;
    padding: 20px 50px;
    display: flex;
    gap: 12px;
    height: max-content;
}

.section__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__title h6 {
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.section__title p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}



h1 {
    font-size: 67px;
    font-weight: 600;
    line-height: 73.7px;
    text-align: left;
    width: 510px;
}

a {
    text-decoration: none;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 30px;
}

.col-1 {
    width: 8.33%;
    padding: 0 15px;
}

.col-2 {
    width: 16.66666%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    width: 33.33333%;
    padding: 0 15px;
}

.col-5 {
    width: 41.6666666%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-7 {
    width: 58.3333%;
    padding: 0 15px;
}

.col-8 {
    width: 66.66666%;
    padding: 0 15px;
}

.col-9 {
    width: 75%;
    padding: 0 15px;
}

.col-10 {
    width: 83.3333%;
    padding: 0 15px;
}

.col-11 {
    width: 91.66666%;
    padding: 0 15px;
}

.col-12 {
    width: 100%;
    padding: 0 15px;
}

header {
    padding: 20px 0;
}

.header__container {
    width: 1180px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    gap: 12px;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
}

#hero {
    padding: 80px 0;
}

.hero__wrap {
    display: flex;
    justify-content: space-between;
}

.hero__text {
    width: 510px;
}

.hero_p {
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    margin: 20px 0 30px;
}

.hero__row {
    display: flex;
    gap: 30px;
    margin: 30px 0 0;
}

.hero__row div {
    width: 150px;
    height: 77px;
}

.hero__row div h6 {
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;

}

.hero__row div p {
    font-size: 23.99px;
    font-weight: 400;
    line-height: 38.38px;
}

.hero__card {
    position: relative;
    top: 0;
    right: 0;
    background: #3B3B3B;
    border-radius: 20px;
    height: 510px;
}

.hero__img {
    height: 401px;
}

.hero__card-text {
    width: 510px;
    height: 109px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__card-text h6 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
}

.hero__card-text div {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

#trending-collection {
    padding: 80px 0;
}

.trending-collection__wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.trending-collection__box img {
    width: 330px;
    height: 330px;
    border-radius: 20px;
}

.trending-collection__img-wrap {
    margin: 15px 0 0;
    display: flex;
    gap: 15px;
}

.trending-collection__img-wrap img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.trending-collection__img-wrap .btn {
    width: 100px;
    height: 100px;
    padding: 32px 15px;
    border-radius: 20px;
    border: none;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
}

.trending-collection__box h6 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin: 15px 0 10px;

}

.trending-collection__box a {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
}

.trending-collection__box a img {
    width: 24px;
    height: 24px;
}

#top-creators {
    padding: 80px 0;
}

.top-creators__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
}